.root {
    top: 53px;
    right: 10px;
    left: auto;
    z-index: 10000;
    border-width: 1px;
    position: absolute;
    border-style: solid;
    border-color: #e0e0e0;
    background-color: #ffffffed;
}